@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Page transitions */
.page-transition {
  opacity: 0;
  background-color: #f5efef;
  transform: translateY(40px);
  filter: blur(12px);
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: #f5efef;

  transition-property: opacity, background-color, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 800ms;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}


/* Custom styles */
.project-container {
  position: relative !important;
}

.horizontal-container {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  height: 85vh;
}

.panel {
  flex: 0 0 80vw;
  height: 100vh;
  display: flex;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.horizontal-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.horizontal-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
